html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	width: 100%;
	display:inline-block;
}

/* green submit button */
#green {
	align: left;
	background-color: green;
	color: white;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

}


input {
	margin-top: 2%;
	border-radius: 5px;
	border: solid 1px;
}

select {
	margin-top: 2%;
}

input:optional {
  border: solid 1px #b7b7b7;
}
input:required {
  border: solid 1px black;
}

input:focus {
	border-color: solid 3px blue;
}
input:invalid {
  border-color: red;
}

select {
	border-radius: 5px;
	border-color: #b7b7b7;

}

a {
	color: #000001;
}

label {
	margin-bottom: 20%;
}

.container {
	margin: 2%;
}

.flex-container {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-around;
  	flex-direction: column;
  	width: 80%;   
  	padding: 5%;
  	margin: 2%;
  	align: center;
}

.flex-item {
 	height: 3rem;
 	outline-color: grey;
  	text-align: left;
  	width: 100%;
  	padding-bottom: 10%;
  	margin-bottom: 0.2rem;
  	margin-top: 0.2rem;
}

.flex-item > input {
	height: 2rem;
	width: 100%;
}

.flex-item > select {
	height: 2rem;
	width: 100%;
}

#no-border {
	border: none;
}

#space {
	padding-top: 20%;
}

textarea {
	margin-top: 2%;
	border-radius: 5px;
	width: 95%;
	border-color: #b7b7b7;
}


@media (min-width: 601px) {

	.flex-container {
        flex-direction: row;
    }

    .flex-item {
	  	width: 40%;
	  	padding-bottom: 5%;
	}

	#description-area {
		border-radius: 5px;
		width: 100%;
		margin-left: 5%;
		margin-bottom: 5%;
		border-color: #b7b7b7;
	}

	#space {
		padding-top: 5%;
	}
}    
