html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	width: 100%;
	display:inline-block;
}

/* green submit button */
#green {
	background-color: green;
	color: white;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;

}

a {
	color: #000001;
}

.container {
	margin: 5%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 2%;
  list-style: none;
}

.flex-item {
	background-color: beige;
  /*
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  line-height: 1rem;*/
  text-align: center;
}

@media (max-width: 500px) {
    .flex-container {
        flex-direction: column;   
    } 
}

@media (min-width: 501px) {
	.flex-container {
        flex-direction: row;
    }    
}